.sx__week-wrapper {
  position: relative;
  // display: flex;
}

.sx__week-grid {
  position: relative;
  padding-inline: var(--sx-calendar-week-grid-padding-left);
  display: flex;
  height: var(--sx-week-grid-height);
  top: 20px;
}

.sx__week-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--sx-color-background);
}

.sx__week-header-content {
  position: relative;
}

.sx__week-header-border {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: var(--sx-border);
  border-left: 250px solid transparent;
}

.sx__week-grid-staff {
  display: flex;
  position: relative;
  width: 100%;
}

.sx__time-grid-day-staff {
  // position: absolute;
  // top: -100px;
  height: 100px;
  // min-width: calc(calc(100% / 5) - 20px);
  // border: solid 1px grey;
  width: 100%;
}
.sx__time-grid-day-staff-wrapper {
  display: flex;
  height: 100px;
  padding-inline: var(--sx-calendar-week-grid-padding-left);
  position: relative;
  width: 100%;
}

.sx__time-grid-day-staff-prev {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
}
.sx__time-grid-day-staff-next {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

.sx__time-grid-day-staff-card {
  display: flex;
  width: 100%;
}
