.sx__week-wrapper {
  position: relative;
}

.sx__week-grid {
  position: relative;
  padding-inline: var(--sx-calendar-week-grid-padding-left);
  display: flex;
  height: var(--sx-week-grid-height);
}
.sx_spinner {
  position: relative;
  top: 50%;
  margin: auto;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top-color: #3498db; /* Blue spinning part */
  border-radius: 50%;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sx__week-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--sx-color-background);
}

.sx__week-header-content {
  position: relative;
}

.sx__week-header-border {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: var(--sx-border);
  border-left: 250px solid transparent;
}
